/*le damos formato al encabezado h1*/


h1{
	font-weight: bold;
	text-align: center;	
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color: Cornsilk;

}

/*le damos formato al encabezado h2*/

h2{
	font-weight: bold;
	text-align: left;	
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color: Cornsilk;

}

/*le damos formato al parrafo*/

p,ul {
	font-family: Verdana, Helvetia, sans-serif;
	color: #2F4F4F;
	font-size: 18px;

}

