<!DOCTYPE html>
<html>
h2{
	font-weight: bold;
	text-align: center;	
	font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
	color: Cornsilk;

}
p,ul {
	font-family: Verdana, Helvetia, sans-serif;
	color: #2F4F4F;
	font-size: 18px;

}

</html>
